[Desktop Entry]
Name=Hello
GenericName=Hello World App
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.AlanBCole.GTK-Hello-World
Icon=com.github.AlanBCole.GTK-Hello-World
Terminal=false
Type=Application
Keywords=Hello;World;Example;